    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    html {
        box-sizing: border-box;
        font-size: 16px;
    }

    * {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    body {
        background-color: rgb(40, 54, 24);
        font-family: "Roboto", sans-serif;
    }

    ol,
    ul {
        list-style: none;
    }

    img {
        max-width: 100%;
        max-height: 100%;

        display: block;
        object-fit: cover;
    }

    /* navbar */
    .nav {
        background-color: rgb(188, 108, 37);
        padding: 10px;
    }

    .nav>ul {
        display: flex;
        justify-content: space-around;
        padding: 10px;

    }

    .nav a {
        text-decoration: none;
        color: rgb(254, 250, 224);
        font-size: 30px;
        padding: 10px;
        transition: all 0.5s ease;
    }

    .nav a:hover {
        background-color: rgb(231, 188, 123);
        color: black;
        border-radius: 10px;
        cursor: pointer;
    }

    @media (width<900px) {
        .nav a {
            font-size: 20px;
        }
    }

    /* navbar */

    /* hero */

    .pot {
        width: auto;
        height: 750px;
        border-radius: 15px;
    }

    main img {
        width: 300px;
        border-radius: 20px;
    }

    .velkommen {
        background-image: url(./bilder/Potrait4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;

        color: rgb(254, 250, 224);

        display: grid;
        grid-template-areas:
            "velkommen1"
            "info"
        ;
        gap: 15px;
        padding: 60px;
    }

    .velkommen1 h1 {
        font-size: 75px;
        text-align: center;
        padding-bottom: 25px;
    }

    .info {
        grid-area: info;
        display: grid;
        grid-template-areas:
            "bilde1 tekst1"
            "tekst2 bilde2";
        padding: 50px 75px 0px;
        gap: 20px;
    }

    .info img {
        width: auto;
        height: 500px;
    }

    .bilde1 {
        padding: 10px;
        grid-area: bilde1;
    }

    .bilde2 {
        grid-area: bilde2;
    }

    .bildebox {
        display: flex;
        flex-direction: row-reverse;
    }

    .bildebox img {
        padding: 10px;
    }

    .tekst1 {
        grid-area: tekst1;
        background-color: rgb(71, 83, 27);
        color: rgb(254, 250, 224);
    }

    .tekst2 {
        grid-area: tekst2;
        background-color: rgb(215, 190, 130);
    }

    .tekst1,
    .tekst2 {
        border-radius: 25px;
        font-size: 30px;
        padding: 20px;
        width: 600px;
        margin: 30px auto;
    }

    .tekst1 *,
    .tekst2 * {
        padding: 10px;
    }

    @media (max-width: 900px) {
        .info {
            grid-template-areas:
                "tekst1"
                "bilde1"
                "tekst2"
                "bilde2";
            padding: 20px;
            gap: 30px;
        }

        .tekst1,
        .tekst2 {
            font-size: 20px;
            width: 90%;
            margin: 0 auto;
        }

        .bilde1,
        .bilde2 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        .bildebox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .info img {
            width: 80%;
            max-width: 350px;
            height: auto;
            border-radius: 15px;
        }
    }


    /* hero */


    /* familie */

    .familie {
        background-color: rgb(187, 148, 87);
        margin-top: 75px;
        padding: 40px 10px;
        text-align: center;
    }

    .familie h1 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 40px;
    }

    .fam-container {
        display: flex;
        justify-content: center;
        position: relative;
        height: 500px;
        padding: 20px;
    }

    .fam-card {
        background-color: rgb(254, 250, 224);
        border: solid black 2px;
        padding: 20px;
        text-align: center;
        position: absolute;
        transition: all 1s ease;
    }

    .fam-card img {
        border: solid black 2px;
        border-radius: 0px;
        aspect-ratio: 1/1;
        margin-bottom: 15px;
    }

    .fam-card:nth-child(1) {
        transform: translateX(-30px) rotate(-5deg);
    }

    .fam-card:nth-child(2) {
        transform: translateX(0px) rotate(0deg);
    }

    .fam-card:nth-child(3) {
        transform: translateX(30px) rotate(5deg);
    }

    .fam-container:hover .fam-card:nth-child(1) {
        transform: translateX(-450px) rotate(0deg);
    }

    .fam-container:hover .fam-card:nth-child(2) {
        transform: translateX(0) rotate(0deg);
    }

    .fam-container:hover .fam-card:nth-child(3) {
        transform: translateX(450px) rotate(0deg);
    }

    .fam-card:hover {
        transition: 0.8s;
        scale: 1.2;
    }

    @media (max-width: 900px) {
        .fam-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "card1 card2"
                "card3 card3";
            gap: 20px;
            justify-items: center;
            align-items: center;
            position: static;
            height: auto;
            padding: 20px;
        }

        .fam-card:nth-child(1) {
            grid-area: card1;
            transform: none !important;
            position: static;
        }

        .fam-card:nth-child(2) {
            grid-area: card2;
            transform: none !important;
            position: static;
        }

        .fam-card:nth-child(3) {
            grid-area: card3;
            transform: none !important;
            position: static;
            width: 90%;
        }

        .fam-card {
            width: 90%;
            max-width: 350px;
            scale: 1;
            transition: 0.3s;
        }

        .fam-card img {
            width: 100%;
            height: auto;
            border-radius: 6px;
        }
        
        .fam-container:hover .fam-card {
            transform: none;
        }
    }


    /* familie */


    /* timeplan */

    .timeplan {
        margin: 40px auto;
        border-collapse: collapse;
        width: 90%;
        height: 80vh;
        color: rgb(254, 250, 224);
        font-size: 20px;
    }

    .timeplan th,
    .timeplan td {
        text-align: center;
        border: solid black 1px;
        padding: 12px;
    }

    .dag {

        background-color: rgb(71, 83, 27);
    }

    .partall {
        background-color: rgb(69, 33, 3);
    }

    .oddetall {
        background-color: rgb(65, 72, 51);
    }

    .tid {
        background-color: rgb(96, 108, 56);
    }

    .ingen-timer {
        color: black;
        background-color: rgb(215, 190, 130);
    }

    .matte {
        background-color: rgb(188, 108, 37);
    }

    .kjemi {
        background-color: rgb(221, 161, 94);
    }

    .it {
        background-color: rgb(153, 88, 42);
    }

    .fysikk {
        background-color: rgb(147, 102, 57);
    }

    .spansk {
        background-color: rgb(67, 40, 24);
    }

    .historie {
        background-color: rgb(187, 148, 87);
    }

    .lunsj {
        color: black;
        background-color: rgb(255, 230, 167);
    }

    .gym {

        background-color: rgb(111, 29, 27);
    }

    .norsk {
        background-color: rgb(127, 79, 36);
    }

    .klassens-time {
        background-color: rgb(166, 138, 100);
    }

    @media(width<900px) {
        .timeplan {
            height: 60vh;
            padding: 2px;
        }

        .timeplan th,
        .timeplan td {
            padding: 2px;
            font-size: 10px;
        }
    }



    /* timeplan */

    /* interesser */

    .interesser-section {
        display: flex;
        gap: 30px;
        padding: 20px 50px;
        flex-wrap: wrap;
    }

    .interesser-section>* {
        border: solid black 2px;
        height: 50vh;
        flex: 1;
    }

    .interesser-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        overflow: hidden;
    }

    .reise-card,
    .mat-card {
        background-color: rgb(221, 161, 94);
        border-radius: 20px;
        display: flex;
        padding: 10px;
        flex: 1 1 33%;
        justify-content: space-between;
        transition: all 0.8s ease;
    }

    .mat2 {
        flex: 1 1 600px;
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .reise2 {
        flex: 1 1 1000px;
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .mat-card:hover,
    .reise-card:hover {
        transition: 1.5s;
        flex-grow: 30;
    }

    @media (width<900px) {

        .interesser-section {
            padding: 20px;
        }

        .mat-card,
        .reise-card {
            display: flex;
            flex-direction: column;
        }

        .mat2 img,
        .reise2 img {
            aspect-ratio: 1/1;
        }

        .mat-card:hover,
        .reise-card:hover {
            flex-grow: 1;
        }
    }

    /* interesser */


    /* bilde-galleri */

    .galleri-section {
        background-color: rgb(40, 54, 24);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        padding: 20px 50px;
    }

    .mat,
    .reiser {
        background-color: rgb(221, 161, 94);
        border: 2px solid black;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

    }

    .mat h2,
    .reiser h2 {
        background-color: rgb(221, 161, 94);
        color: black;
        text-align: center;
        margin-bottom: 15px;
    }

    .bilde-grid {
        background-color: rgb(221, 161, 94);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 20px;
        width: 100%;
    }

    .bilde-grid img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    .bilde-grid {
        overflow: hidden;
    }

    @media (width<900px) {
        .mat {
            grid-area: mat;
        }

        .reiser {
            grid-area: reiser;
        }

        .galleri-section {
            grid-template-areas:
                "mat"
                "reiser";
            padding: 20px;
        }
    }

    /* bilde-galleri */

    /* footer */
    footer {
        gap: 10px;
        padding: 10px;
        color: rgb(254, 250, 224);
        background-color: rgb(65, 72, 51);
    }

    footer h1 {
        text-align: right;
        padding-bottom: 10px;
    }

    footer ul {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }

    footer a {
        color: rgb(254, 250, 224);
    }

    footer p {
        text-align: center;
    }


    /* footer */