    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    html {
        box-sizing: border-box;
        font-size: 16px;
    }

    * {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    body {
        background-color: rgb(120, 103, 81);
        font-family: "Roboto", sans-serif;
    }

    ol,
    ul {
        list-style: none;
    }

    img {
        max-width: 100%;

        display: block;
        object-fit: cover;
    }

    .nav {
        background-color: rgba(255, 162, 55, 0.719);

    }

    .nav>ul {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .nav a {
        text-decoration: none;
        color: aliceblue;
        font-size: 30px;
        padding: 10px;
    }

    .nav a:hover {
        background-color: rgb(231, 188, 123);
        color: black;
        transition: 500ms;
        border-radius: 10px;
    }

    /* timeplan */

    .timeplan {
        margin: 40px auto;
        border-collapse: collapse;
        width: 90%;
        height: 70vh;
        font-size: 1.1rem;
    }

    .timeplan th,
    .timeplan td {
        text-align: center;
        border: solid black 1px;
        padding: 10px;
    }

    /* timeplan */

    /* interesser */

    .interesser-section {
        border: solid black 2px;
        border-radius: 20px;
        display: flex;
        gap: 10px;
        padding: 10px;
        flex-wrap: wrap;
    }

    .interesser-section>* {
        border: solid black 2px;
        height: 50vh;
        flex: 1;
    }

    .interesser-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        overflow: hidden;
    }

    .reise-card,
    .mat-card {
        background-color: burlywood;
        border-radius: 20px;
        display: flex;
        padding: 10px;
        flex: 1 1 33%;
        justify-content: space-between;
        transition: flex-grow 0.8s ease, flex-basis 0.8s ease, tranform 0.8s ease;
    }

    .mat2 {
        flex: 1 1 600px;
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .reise2 {
        flex: 1 1 1000px;
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .mat-card:hover,
    .reise-card:hover {
        transition: 1.5s;
        flex-grow: 30;
    }

    /* interesser */


    /* bilde-galleri */

    .galleri-section {
        background-color: rgb(120, 103, 81);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        padding: 20px;
    }

    .mat,
    .reiser {
        background-color: rgb(186, 136, 65);
        border: 2px solid black;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

    }

    .mat h2,
    .reiser h2 {
        background-color: rgb(186, 136, 65);
        color: black;
        text-align: center;
        margin-bottom: 15px;
    }

    .bilde-grid {
        background-color: rgb(186, 136, 65);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 20px;
        width: 100%;
    }

    .bilde-grid img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.4s ease;
        cursor: pointer;
    }

    .bilde-grid {
        overflow: hidden;
    }

    /* bilde-galleri */